name: Documentation

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y doxygen graphviz curl

    - name: Configure
      run: |
        ./autogen.sh
        ./configure

    - name: Build Documentation
      run: make -C doc

    - name: Upload Documentation
      uses: actions/upload-artifact@v4
      with:
        name: opus-docs
        path: doc/html/
